@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ba5624;
}

.container {
  min-width: 80vw;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.navigation {
  background: white;
  padding: 2em 3em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo {
  position: relative;
  z-index: 3;
}

.navigation__checkbox {
  display: none;
}

.navigation__toggle {
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 3;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navigation__icon {
  position: relative;
}

.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  width: 3rem;
  height: 4px;
  background-color: #1f1d1d;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: 0.8rem;
}

.navigation__icon::after {
  top: -0.8rem;
}

.navigation__background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background: white;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  list-style: none;
  text-align: center;
}

.navigation__link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 2rem;
  color: #1f1d1d;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation__link:hover, .navigation__link:active {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.navigation__checkbox:checked ~ .navigation__toggle {
  background-color: transparent;
}

.navigation__checkbox:checked ~ .navigation__nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navigation__checkbox:checked + .navigation__toggle .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__toggle .navigation__icon::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.navigation__checkbox:checked + .navigation__toggle .navigation__icon::before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

@media only screen and (min-width: 768px) {
  .navigation__toggle, .navigation__background {
    display: none;
  }
  .navigation__nav {
    -webkit-transform: translate(0);
            transform: translate(0);
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: none;
    transition: none;
  }
  .navigation__list {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: none;
    transition: none;
  }
  .navigation__link {
    font-size: 2rem;
    text-transform: capitalize;
  }
}
/*# sourceMappingURL=style.css.map */