html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #5fad56;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  background: #5fad56;
}

.search {
  $size: 100px;
  display: flex;
  position: relative;
  overflow: hidden;

  &__input {
    background: transparent;
    font-size: 4rem;
    padding: 0 0.5em;
    border: 0;
    outline: 0;
    cursor: pointer;
    left: 0;
    line-height: $size;
    position: absolute;
    opacity: 0;
    transition: none;

    &:focus,
    &:not(:placeholder-shown) {
      cursor: initial;
      opacity: 1;
      width: calc(100% - #{$size});
      transition: opacity 0.5s 0.3s ease-in-out;
    }
  }

  &__spacer {
    width: 0;
    background: white;
    transition: all 0.3s ease;
  }

  &__button {
    background: white;
    border: 0;
    outline: 0;
    width: $size;
    height: $size;
    font-size: 4rem;
    border: none;
    transition: none;
  }

  &__input:focus ~ &__spacer,
  &__input:not(:placeholder-shown) ~ &__spacer {
    width: 800px;
  }

  &__input:focus ~ &__button,
  &__input:not(:placeholder-shown) ~ &__button {
    border-left: 2px solid #ececec;
    transition: opacity 0.5s 0.3s ease-in-out;
  }
}
